
body {
    background: #F5F5F5;
    font-family: 'Inter';
    font-style: normal;
    overflow: hidden;
}

.add-task {
   height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 65px 0 65px;
}

.add-task-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 80px 0px 80px 0px;
    height: 73px;
    justify-content: space-between;
}

.addTaskHeadline{
    font-size: 61px;
    font-weight: 700;
}

.title-container {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 21px;
}

.title-input {
    width: 100%;
    height: 51px;
    padding: 13px 21px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    background: #FFFFFF;
    margin-top: 8px;
}

.description-field {
    width: 421px;
    height: 119px;
    padding: 18px 21px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    background: #ffffff;
    margin-top: 8px;
    isolation: isolate;
    flex: none;
    resize: vertical;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    font-size: 21px;
}

.no-outline:focus {
    outline: none;
}

.new-category-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 422px;
    background-color: white;
    padding: 13px 21px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    margin-top: 8px;
}

.dash-container {
    display: flex;
    align-items: center;
}

.dash {
    border-left: 2px solid #cecece;
    height: 30px;
    margin-left: 7px;
    margin-right: 7px;
}

.img-container {
    display: flex;
    height: 15px;
}

.select-container {
    margin-top: 8px;
    background-color: white;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    width: 422px;
}

.contactsOption,
.categoryOption {
    display: flex;
    padding: 13px 21px;
    font-size: 21px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    height: 51px;
}

.display-flex {
    display: flex !important;
    flex-direction: column;
}

.selection-point-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.purple {
    background-color: #800080;
}

.red {
    background-color: #ff0000;
}

.green {
    background-color: #008000;
}

.yellow {
    background-color: #ffba00;
}

.pink {
    background-color: #ffc0cb;
}

.blue {
    background-color: #0000ff;
}

.color-category-button {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    margin: 10px;
}

.color {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    margin: 10px;
}

.wheel {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    margin: 10px;
}

.wheel:hover {
    border: 2px solid white;
    box-shadow: silver 4px 3px 6px;
    cursor: pointer;
    transform: scale(1.8);
}

.color-container {
    display: flex;
}

img.arrow-icon {
    width: 25px;
    height: 8px;
    cursor: pointer;

}

.arrow-rotate {
    transform: rotate(180deg);
}

.x-or-hook {
    cursor: pointer;
}

.contact-icon {
    width: 25px;
    height: 25px;
}

.content-head-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 80px 0px 80px 0px;
    height: 73px;
}

.add-tast-container {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.content-body-container {
    display: flex;
    width: 100%;
}

.container-center {
    margin: 0 59px 0 59px;
    width: 0px;
    border: 1px solid #D1D1D1;
    height: 551px;
}

.prio-container {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    padding-top: 7px;
    margin-bottom: 10px;
}

.prio-body-container {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

.prio-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 134px;
    height: 51px;
    background-color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 18px 10px;
    gap: 10px;
    font-size: 21px;
    cursor: pointer;
}

.prio-button:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transform: scale(1.05);
}

.prio-icon {
    width: 20px;
}

.prio-red {
    background-color: #ff3c00;
    color: white;
}

.prio-yellow {
    background-color: #ffa800;
    color: white;
}

.prio-green {
    background-color: #7ae229;
    color: white;
}

.plus-icon {
    width: 22px;
    height: 22px;
}

.indexContent::-webkit-scrollbar {
    width: 10px;
}

.indexContent::-webkit-scrollbar-thumb {
    background-color: #2A3647;
    border-radius: 100px;
}

.indexContent::-webkit-scrollbar-track {
    background-color: #D1D1D1;
    border-radius: 100px;
    margin-block: 2px;
}

.Add-new-subtask {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #D1D1D1;
}

.container-left {
    display: flex;
    gap: 14px;
    flex-direction: column;
}

.required {
    position: relative;
    font-size: 12px;
    line-height: 120%;
    margin: 8px 0 0 0;
    color: #ff3a3a;
}

.hidden {
    visibility: hidden;
}

.submit-btns-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 145px;
    margin-bottom: 74px;
}

.create-task-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 10px;
    gap: 10px;
    height: 61px;
    background: #2A3647;
    color: #FFFFFF;
    font-size: 21px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    transition: 100ms ease-in-out;
    font-family: 'Inter';
}

.create-task-btn:hover {
    background: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.clear-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 10px;
    gap: 10px;
    width: 136px;
    height: 61px;
    font-size: 21px;
    border: 1px solid #2A3647;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Inter';
    color: #2A3647;
    background-color: #F6F7F8;
    transition: 100ms ease-in-out;
}

.clear-btn:hover {
    color: #29ABE2;
    border: 2px solid #29ABE2;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
}

.checkbox-container {
    display: flex;
    margin-bottom: 5px;
}

.checkbox {
    margin-right: 10px;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
      margin-right: 10px;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url(../assets/img/checkboxUnchecked.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
  
  input[type="checkbox"]:checked + label {
    background-image: url(../assets/img/checkboxChecked.svg);
  }
  
.input-outline {
    outline: none;
    cursor: pointer;
    width: 100%;
    
}

.input-outline::placeholder{
    color:black
    }

.curser-pointer {
    cursor: pointer;
}

.creat-task-clear-hover {
    width: 15px;
    height: 15px;
}

.creat-task-clear-hover:hover {
    fill: #ff0000;
}

@media (max-width: 1300px) {
    .content-body-container {
        flex-direction: column;
        align-items: center;

    }

    .container-center {
        display: none;
    }

    /* .container-center{

} */

}

.input-and-color-button-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.new-category-input {
    width: 100%;
}

@media (max-width: 1080px) {
.add-task{
        height: 100%;
     padding: 0 30px
  
    }

    .content-body-container{
        align-items: unset;
    }

    .title-input,
    .description-field,
    .select-container,
    .new-category-container,
    .prio-body-container
    {
        width: 100%;
        max-width: 422px;
    }

    .prio-button-name{
        display: none;
    }
}

