* {
    margin: 0;
    box-sizing: border-box;
}



body {
    background: #F5F5F5;
    font-family: 'Inter';
    font-style: normal;
    overflow: hidden;
}

.title-container {
    display: flex;
    flex-direction: column;


}

.title {
    width: 130px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
}

.title-input {
    width: 422px;
    height: 51px;
    padding: 13px 21px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    background: #FFFFFF;
    margin-top: 8px;
}

.description-field {
    width: 421px;
    height: 119px;
    padding: 18px 21px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    background: #ffffff;
    margin-top: 8px;
    isolation: isolate;
    flex: none;
    resize: vertical;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;

}


/*  */

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    font-size: 21px;
}

.no-outline:focus {
    outline: none;
}

input.new-category-input {
    width: 333px;
}

.new-category-contaier {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 422px;
    background-color: white;
    padding: 13px 21px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    margin-top: 8px;
}

.dash-contaier {
    display: flex;
    align-items: center;
}

.dash {
    border-left: 2px solid #cecece;
    height: 30px;
    margin-left: 7px;
    margin-right: 7px;
}

.img-container {
    display: flex;
    height: 15px;
}

.select-container {
    margin-top: 8px;
    background-color: white;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    width: 422px;
}

.option {
    display: flex;
    padding: 13px 21px;
    font-size: 21px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    height: 51px;
}

/* color */

.purple {
    background-color: purple;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.pink {
    background-color: pink;
}

.blue {
    background-color: blue;
}

.color.wheel {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    margin: 10px;
}

.color.wheel:hover {
    width: 20px;
    height: 20px;
    border: 3px solid white;
    box-shadow: 4px 3px 6px silver;
    cursor: pointer;
}    

.color-container {
    display: flex;
}

img.arrow-icon {
    width: 25px;
    height: 8px;
    cursor: pointer;
}

.d-none {
    display: none;
}

.x-or-hook {
    cursor: pointer;
}

.contact-icon {
    width: 25px;
    height: 25px;
}

.content-add-tast-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.content-head-container {
    display: flex;
    flex-direction: column;
    margin-top: 82px;
}

.content-body-container {
    display: flex;
}

.container-center {
    margin: 0 59px 0 59px;
    width: 0px;
    border: 1px solid #D1D1D1;
    height: 551px;
}



.prio-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 8px;
}

.prio-body-container {
    display: flex;
    gap: 10px;
}

.prio-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 134px;
    height: 51px;
    background-color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 18px 10px;
    gap: 10px;
    font-size: 21px;
}

.prio-button:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transform: scale(1.05);

}

img.prio-icon {
    width: 20px;
}

.prio-red {
    background-color: #ff3d00;
    color: white;

}

.prio-yellow {
    background-color: #ffa800;
    color: white;
}

.prio-green {
    background-color: #7ae229;
    color: white;
}

.plus-icon {
    width: 22px;
    height: 22px;
}

.indexContent {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.indexContent::-webkit-scrollbar {
    width: 10px;
}

.indexContent::-webkit-scrollbar-thumb {
    background-color: #2A3647;
    border-radius: 100px;
}

.indexContent::-webkit-scrollbar-track {
    background-color: #D1D1D1;
    border-radius: 100px;
    margin-block: 2px;
}


.Add-new-subtask {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #D1D1D1;
}

.container-left {
    display: flex;
    gap: 14px;
    flex-direction: column;
}


.required {
    position: relative;
    font-size: 12px;
    line-height: 120%;
    margin: 8px 0 0 0;
    color: #ff3a3a;
}

.hidden {
    visibility: hidden;
}

.submit-btns-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 270px;
    margin-bottom: 74px;
}

.create-task-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 10px;
    gap: 10px;
    height: 61px;
    background: #2A3647;
    color: #FFFFFF;
    font-size: 21px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    transition: 100ms ease-in-out;
    font-family: 'Inter';

}

.create-task-btn:hover {
    background: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.clear-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 10px;
    gap: 10px;
    width: 136px;
    height: 61px;
    font-size: 21px;
    border: 1px solid #2A3647;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Inter';
    color: #2A3647;
    background-color: #F6F7F8;
    transition: 100ms ease-in-out;
}


.clear-btn:hover {
    color: #29ABE2;
    border: 2px solid #29ABE2;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
}
