
body {
    background: #F5F5F5;
    font-family: 'Inter';
    font-style: normal;
    overflow: hidden;
}

.addTask {
   height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 65px 0 65px;
}

.addTaskHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 80px 0px 80px 0px;
    height: 73px;
    justify-content: space-between;
}

.addTaskHeadline{
    font-size: 61px;
    font-weight: 700;
}

.titleContainer {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 21px;
}

.titleInput {
    width: 100%;
    height: 51px;
    padding: 13px 21px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    background: #FFFFFF;
    margin-top: 8px;
}

.descriptionField {
    width: 421px;
    height: 119px;
    padding: 18px 21px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    background: #ffffff;
    margin-top: 8px;
    resize: vertical;
    font-family: 'Inter';
    font-size: 21px;
}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    font-size: 21px;
}

.noOutline:focus {
    outline: none;
}

.addTaskDropdownHeader{
    overflow: hidden;
    text-wrap: nowrap;
}

.newCategoryContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 422px;
    background-color: white;
    padding: 13px 21px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    margin-top: 8px;
}

.dashContainer {
    display: flex;
    align-items: center;
}

.dash {
    border-left: 2px solid #cecece;
    height: 30px;
    margin-left: 7px;
    margin-right: 7px;
}

.imgContainer {
    display: flex;
    height: 15px;
}

.selectContainer {
    margin-top: 8px;
    background-color: white;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    width: 422px;
}

.contactsOption,
.categoryOption {
    display: flex;
    padding: 13px 21px;
    font-size: 21px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    height: 51px;
}

.selectionPointContainer {
    display: flex;
    align-items: center;
    width: 100%;
}

.purple {
    background-color: #800080;
}

.red {
    background-color: #ff0000;
}

.green {
    background-color: #008000;
}

.yellow {
    background-color: #ffba00;
}

.pink {
    background-color: #ffc0cb;
}

.blue {
    background-color: #0000ff;
}



.color {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    margin: 10px;
}

.wheel {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    margin: 10px;
}

.wheel:hover {
    border: 2px solid white;
    box-shadow: silver 4px 3px 6px;
    cursor: pointer;
    transform: scale(1.8);
}

.colorContainer {
    display: flex;
}

img.arrowIcon {
    width: 25px;
    height: 8px;
    cursor: pointer;
}

.arrowRotate {
    transform: rotate(180deg);
}

.xOrHook {
    cursor: pointer;
}

.contactIcon {
    width: 25px;
    height: 25px;
}

.contentHeadContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 80px 0px 80px 0px;
    height: 73px;
}

.addTastContainer {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.contentBodyContainer {
    display: flex;
    width: 100%;
}

.containerCenter {
    margin: 0 59px 0 59px;
    width: 0px;
    border: 1px solid #D1D1D1;
    height: 551px;
}

.prioContainer {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    padding-top: 7px;
    margin-bottom: 10px;
}

.prioBodyContainer {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}



.prioIcon {
    width: 20px;
}

.prioRed {
    background-color: #ff3c00;
    color: white;
}

.prioYellow {
    background-color: #ffa800;
    color: white;
}

.prioGreen {
    background-color: #7ae229;
    color: white;
}

.plusIcon {
    width: 22px;
    height: 22px;
}

.containerLeft {
    display: flex;
    gap: 14px;
    flex-direction: column;
}

.required {
    position: relative;
    font-size: 12px;
    margin: 8px 0 0 0;
    color: #ff3a3a;
}

.hidden {
    visibility: hidden;
}

.submitBtnsContainer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 24px;
    margin-bottom: 74px;
    max-width: 100%;
}

.createTaskBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 10px;
    gap: 10px;
    height: 61px;
    background: #2A3647;
    color: #FFFFFF;
    font-size: 21px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    transition: 100ms ease-in-out;
    font-family: 'Inter';
}

.createTaskBtn:hover {
    background: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}


.inputOutline {
    outline: none;
    cursor: pointer;
    width: 100%;
}

.inputOutline::placeholder{
    color:black
    }

.cursorPointer {
    cursor: pointer;
}

.creatTaskClearHover {
    width: 15px;
    height: 15px;
}

.creatTaskClearHover:hover {
    fill: #ff0000;
}

.inputAndColorButtonContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.newCategoryInput {
    width: 100%;
}

