.board {
    position: relative;
    width: 100%;
    height: 100%;
    background: #F6F7F8;
    padding: 0px 65px 0 65px
}

.boardHeadline {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 80px 0px 80px 0px;
    height: 73px;
    justify-content: space-between;
}

.findTask {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 21px;
    gap: 10px;
    width: 251px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
}



.boardHeadlineRight {
    display: flex;
    gap: 35px;
}

.findTask input {
    border: unset;
    outline: none;
    background-color: unset;
    width: 100%;
    font-size: 16px;
}

.boardContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 26px;
    flex-wrap: wrap;
}

.boardElement {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 35px;

}



.boardElementHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 35px;
    width: 230px;
    height: 30px;
}

.boardElementHeader span {
    width: 57px;
    height: 25px;
    white-space: nowrap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: #2A3647;
}

.boardElementHeader svg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px;
    gap: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.boardElementHeader svg:hover {
    color: var(--secondaryColor)
}

.boardCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18px 19px;
    gap: 10px;
    width: 250px;
    height: 239px;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
}

.boardCardInner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: 209px;
    height: 203px;
}

.boardCardCategory {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4px 25px;
    gap: 10px;
    width: 103px;
    height: 27px;
    background: var(--design);
    border-radius: 8px;
}

.boardCardCategory span {
    width: 53px;
    height: 19px;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
}

.boardCardContent {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 10px;
    width: 207px;
    height: 67px;
}

.boardCardTaskName {
    width: 137px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
}

.boardCardTaskDescription {

    width: 207px;
    height: 38px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #A8A8A8;
}

.boardCardProgress {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 20px;
    width: 209px;
    height: 14px;
}

.boardCardProgress span {
    width: 51px;
    height: 14px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    color: #000000;
    white-space: nowrap;
}

.boardCardAssign {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 83px;
    width: 207px;
    height: 35px;
}

.boardCardAssignedTo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 93px;
    height: 35px;
}

.boardAvatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 8px;
    gap: 10px;
    width: 35px;
    height: 35px;
    background: #0190E0;
    border: 1px solid #FFFFFF;
    border-radius: 58px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px -4px;
}

.boardAvatar span {
    width: 19px;
    height: 14px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    /* or 14px */
    text-align: center;
    color: #FFFFFF;
}


/* Window Add Task */

.add-task-window-container {
    display: flex;
    align-items: center;
}

.container-opened-task {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgb(0 0 0 / 50%);
    z-index: 10;
}

.add-task-window {
    display: flex;
    flex-direction: column;
    padding: 40px 80px 40px 80px;
    position: absolute;
    width: 70%;
    background-color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    z-index: 100;
    height: 85%;
}

.d-none {
    display: none;
}

.add-task-window-off {
    position: relative;
    z-index: 105;
    display: flex;
    justify-content: flex-end;
}

