.board {
    position: relative;
    width: 100%;
    height: 100%;
    background: #F6F7F8;
    padding: 0px 65px 0 65px
}

.boardHeadline {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 80px 0px 80px 0px;
    height: 73px;
    justify-content: space-between;
}

.findTask {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 21px;
    gap: 10px;
    width: 251px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
}

.boardHeadlineRight {
    display: flex;
    gap: 35px;
}

.findTask input {
    border: unset;
    outline: none;
    background-color: unset;
    width: 100%;
    font-size: 16px;
}

.boardContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
    gap: 26px;
    flex-wrap: wrap;
}

.boardElement {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 35px;
    min-height: 300px;
}

.boardElementHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 35px;
    width: 230px;
    height: 30px;
}

.boardElementHeader span {
    width: 57px;
    height: 25px;
    white-space: nowrap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: #2A3647;
}

.boardElementHeader img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px;
    gap: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.boardElementContent {
    display: flex;
    flex-direction: column;
    min-width: 230px;
    flex-grow: 1;
    gap: 35px;  
}

.boardElementEmpty {
    width: 100%;
    height: 48px;
    border-radius: 10px;
    border: 1px;
    background-color: #E7E7E7;
    color: #A8A8A8;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.boardElementContentHighlight {
    background-color: rgba(0, 0, 0, 0.2);
}

.boardCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18px 19px;
    gap: 10px;
    width: 250px;
    height: 239px;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    cursor: pointer;
}

.boardCardDrag {
    height: 35px;
    width: 250px;
}

.boardCardDragActive {
    border: 1px dashed gray;
    margin-top: 35px;
    margin-bottom: 35px;
    height: 239px;
}

.boardCardInner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: 209px;
    height: 203px;
}

.boardCardCategory {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px 25px;
    gap: 10px;
    width: 103px;
    height: 27px;
    background: var(--avatar-color-1);
    border-radius: 8px;
}

.boardCardCategory span {
    height: 19px;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
}

.boardCardContent {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 10px;
    width: 207px;
    height: 67px;
}

.boardCardTaskName {
    width: 137px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    white-space: nowrap;
}

.boardCardTaskDescription {

    width: 207px;
    height: 38px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #A8A8A8;
}

.boardCardProgress {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 20px;
    width: 209px;
    height: 14px;
}

.boardCardProgress span {
    width: 51px;
    height: 14px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    color: #000000;
    white-space: nowrap;
}

.boardCardAssign {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 83px;
    width: 207px;
    height: 35px;
}

.boardCardAssign img {
    width: 17px;
    height: 12px
}

.boardCardAssignedTo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 93px;
    height: 35px;
}

.boardAvatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 8px;
    gap: 10px;
    width: 35px;
    height: 35px;
    background: #0190E0;
    border: 1px solid #FFFFFF;
    border-radius: 58px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px -4px;
}

.boardAvatar span {
    width: 19px;
    height: 14px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
}

.addTaskOverlay {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    z-index: 2;
    height: 85%;
    transform: translate(-50%, -50%);
    top: 50%;
}

.add-task-window-off {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
}

.task-added-to-board-button-container {
    display: flex;
    justify-content: center;
}

.fade-in-left {
    animation-name: fade-in-left;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes fade-in-left {
    0% {
        opacity: 0;
        transform: translateX(10000%);
    }

    200% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fade-out-right {
    animation-name: fade-out-right;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-direction: reverse;
}

.activeTaskChangeContainer {

    bottom: 62px;
    position: absolute;
    right: 60px;
    cursor: pointer !important;
    display: flex;
    flex-direction: column;
    border-bottom: none;
    border-radius: 10px;
    justify-content: flex-end;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

.activeTaskMoveContainer {
    padding-left: 5px;
    padding-right: 5px;
    height: 0px;
    overflow-y: hidden;
}

.activeTaskMoveContainerOpen {
    height: 160px;
}


.activeTaskMoveButtonHeader {
    font-weight: bold;
    font-size: 16px;
    align-items: center;
    height: 32px;
}

.activeTaskMoveButton {
    font-size: 14px;
    align-items: center;
    cursor: pointer;
    height: 32px;
}

.activeTaskMoveButton:hover {
    box-shadow: 0px -3px 4px rgba(0, 0, 0, 0.25);
    transform: scale(1.05);
}

@keyframes fade-out-right {
    0% {
        opacity: 0;
        transform: translateX(10000%);
    }

    200% {
        opacity: 1;
        transform: translateX(0);
    }
}

@media screen and (max-width: 1375px) {
    .boardElement {
        flex: 1 0 33%;
    }
}

@media screen and (max-width: 1080px) {
    .boardContent {
        margin-top: 50px;
        padding-bottom: 50px;
    }

    .boardAddTaskButton span {
        display: none;

    }

    .boardAddTaskButton {
        width: 51px;
    }

    .overlay{
        
        padding: 20px;
    }
}

@media screen and (max-width:650px) {
    .board {
        padding: 0px 30px 0px 30px;
    }
    .findTask {
        position: absolute;
        top: 126px;
        left: 30px;
        width: calc(100% - 60px);
    }
    .boardElement {
        flex: 1 0 50%;
        gap: 0;
        min-height: unset;
        align-items: baseline;
        max-width: 100%
    }

    .boardElementHeader{
        width: 100%;
    }


    .boardCard{
        margin-bottom: 10px;
        scroll-snap-align: start;
    }

    .boardElementContent {
        flex-direction: row;
        overflow-x: scroll;
        width: 100%;
       scroll-snap-type: x mandatory ;
       scroll-snap-align: center
    }

  .activeTaskChangeContainer{
    bottom:30px;
    right:30px
  }
}