contacts {
    display: flex;
    height: 100%;
    width: 100%;
}

.contactsLeft {
    width: 453px;
    height: 100%;
    overflow-y: scroll;
    background: #FFFFFF;
    box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactsLeft {
    width: 420px;
    max-width: 100%;
}

.contactsEmpty {
    width: 250px;
    height: 177px;
    border-radius: 10px;
    border: 1px;
    background-color: #E7E7E7;
    color: #A8A8A8;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contactsList {
    display: flex;
    flex-direction: column;
    padding: 0px;
    width: 357px;
    height: 1072px;
    background: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    max-width: 100%;
    gap: 10px;
    padding: 10px;
}

.contactListSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50px;
    height: 60px;
    padding: 10px;
}

.contactListSection span {
    height: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #000000;
}

.contactListSeperator {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 347px;
    height: 28px;
}

.contactListElement {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 8%;
    cursor: pointer;
    width: 357px;
    height: 79px;
    background: #FFFFFF;
    border-radius: 10px;
}

.contactListElement:hover {
    background: linear-gradient(180deg, #F9F9F9 0%, #F0F0F0 100%);
}

.contantsAvatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 8px;
    gap: 10px;
    width: 35px;
    height: 35px;
    background: #0190E0;
    border: 1px solid #FFFFFF;
    border-radius: 58px;
}

.contactListElement:hover .contantsAvatar {
    border: 2px solid #FFFFFF;
}


.contantsAvatar span {
    width: 19px;
    height: 14px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    /* or 14px */
    text-align: center;
    color: #FFFFFF;
}

.contactsInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 5px;
    width: 300px;
    height: 49px;
    overflow: hidden;
}

.contactsInfo span:first-child {
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    white-space: nowrap;
    display: flex;
    align-items: center;
    color: #000000;
}

.contactsInfo span:last-child {
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #007CEE;
}

.contactListElementActive {
    background: var(--defaultDark);
}

.contactListElementActive:hover {
    background: var(--defaultDark);
}

.contactListElementActive .contantsAvatar {
    border: 2px solid #FFFFFF;
}

.contactListElementActive .contactsInfo span:first-child {
    color: white;
}

.contactsRight {
    display: flex;
    flex-direction: column;
    padding: 0px 65px 0 65px;
    flex-grow: 1;
}


.contactsRightHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    width: 569px;
    height: 73px;
    padding: 80px 0 80px 65px;
    white-space: nowrap;
    justify-content: right;
}

.contactsRightHeader h1 {
    justify-self: center;
}


.contactsCardContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 21px;
    position: absolute;
    width: 100vw;
    height: calc(100% - 265px);
    left: 750px;
    top: 326px;

}

.contactsCard {
    position: absolute;
    transition: left 0.5s ease-in-out;
    left: 100%;
    height: 100%;
    width: 100%;
}

.contactsCardActive {
    left: 0;
}


.contactsCard.show {
    left: 0px;
}

.contactCardHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 54px;
    width: 461px;
    height: 120px;
}

.contactCardAvatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 8px;
    gap: 10px;
    width: 120px;
    height: 120px;
    background: #0190E0;
    border: 1px solid #FFFFFF;
    border-radius: 100%;
}

.contactCardAvatar span {
    height: 28.57px;
    left: 20px;
    top: 45.71px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 47px;
    line-height: 120%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.contactCardHeaderContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 13px;
    width: 287px;
    height: 88px;
}

.contactCardContentHeader span:first-child {
    width: 287px;
    height: 56px;
    white-space: nowrap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 47px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #000000;
}

.contactCardHeaderAddTask {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 13px;
    cursor: pointer;
    width: 128px;
    height: 19px;
}

.contactCardHeaderAddTask span {
    width: 100px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #29ABE2;
}

.contactCardInfoHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 59px;
    width: 392.85px;
    height: 74px;
}

.contactCardInfoHeader span {
    width: 207px;
    height: 74px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #000000;
}

.contactCardEdits {
    display: flex;
}

.contactCardEdit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 6px;
    cursor: pointer;
    width: 126.85px;
    height: 29.34px;
}

.contactCardEdit span {
    width: 100px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #2A3647;
}

.contactCardInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 22px;
    width: 140px;
    height: 128px;
}

.contactCardEmail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
    width: 140px;
    height: 53px;
}

.contactCardPhone {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
    width: 140px;
    height: 53px;
}

.contactCardEmail span {
    width: 43px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #000000;
}


.contactCardEmail a {
    width: 140px;
    height: 19px;
    white-space: nowrap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #007CEE;
}

.contactCardPhone span {
    width: 43px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #000000;
}

.contactCardPhone a {
    width: 140px;
    height: 19px;
    white-space: nowrap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000000;
}

.addContactOverlay,
.editContactOverlay {
    position: absolute;
    top: 50%;
    max-width: 95vw;
    transform: translate(-50%, -50%);
    width: 1212px;
    height: 700px;
    max-height: calc(100vh - 80px);
    background: #FFFFFF;
    border-radius: 30px;
    z-index: 2;
    overflow: hidden;
}

.closeOverlay {
    position: absolute;
    width: 21.65px;
    height: 21.65px;
    left: 1141.31px;
    top: 26px;
    cursor: pointer;
}

.addContactIcon {
    position: absolute;
    width: 120px;
    height: 120px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.editContactAvartar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    position: absolute;
    width: 120px;
    height: 120px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    border: 3px solid #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 70px
}

.addContactOverlayContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 29px;
    position: absolute;
    width: 422px;
    height: 271px;
    left: 737px;
    top: 129px;
}

.addContactOverlayLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 66px 46px;
    gap: 12px;
    isolation: isolate;
    position: absolute;
    width: 463px;
    height: 100%;
    left: -4px;
    top: 0px;
    background: var(--defaultDark);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.addContactOverlayTitle {
    width: 366px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    color: #FFFFFF;
}

.addContactOverlaySubtitle {
    width: 371px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 120%;
    color: #FFFFFF;
}

.addContactOverlayLogo {
    height: 66px;
    width: 55px;
    position: absolute;
    left: 10.04%;
    right: 78.05%;
    top: 25.93%;
    bottom: 62.88%;
}

input.loginInput[type=number]::-webkit-inner-spin-button,
input.loginInput[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.editContactAvartarInitials {
    height: 28.57px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 47px;
    line-height: 120%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.closeContactArrow {
    display: none;
}