.loginHeadline {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;

    width: 315px;
    height: 97px;
}

.loginHeadline span {
    width: 315px;
    height: 73px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    text-align: center;
    color: #000000;
}

.loginInputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 29px;

    width: 422px;
    height: 171px;
}

.loginOptions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 35px;

    width: 335px;
    height: 19px;
    border: unset;
}

.loginButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 35px;

    width: 341px;
    height: 51px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 422px;
    height: 71px;

}

.inputFieldContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 422px;
    height: 71px;

}


.inputFieldWithImg {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 21px;
    gap: 10px;
    width: 422px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}


.loginInput {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 380px;
    height: 25px;
    border: unset;
    outline: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;

}

.rememberMe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 20px;
    width: 146px;
    height: 19px;

}



.loginOptions span {
    width: 154px;
    height: 19px;
    cursor: pointer;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: var(--secondaryColor);
}

.rememberMe span {
    width: 110px;
    height: 19px;

    /* Version 2/body */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */

    white-space: nowrap;
    color: #000000;

}

.loginTopRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 35px;

    position: absolute;
    width: 287px;
    height: 51px;
    right: 114px;
    top: 67px;
}

.loginTopRight span {
    height: 25px;

    /* Version 2/t6 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    white-space: nowrap;
}