.loginHeadline {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;
white-space: nowrap;
    width: 315px;
    height: 97px;
}

.loginHeadline span {
    width: 315px;
    height: 73px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    text-align: center;
    color: #000000;
}

.loginInputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 29px;

    width: 422px;
    height: 171px;
}

.loginOptions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 35px;

    width: 335px;
    height: 19px;
    border: unset;
}

.loginButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 35px;

    width: 341px;
    height: 51px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 422px;
    height: 71px;

}

.inputFieldContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 422px;
    height: 71px;

}


.inputFieldWithImg {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 21px;
    gap: 10px;
    width: 422px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}


.loginInput {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 380px;
    height: 25px;
    border: unset;
    outline: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;

}

.rememberMe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 20px;
    width: 146px;
    height: 19px;

}



.loginOptions span {
    width: 154px;
    height: 19px;
    cursor: pointer;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: var(--secondaryColor);
    cursor:default
}

.rememberMe span {
    width: 110px;
    height: 19px;

    /* Version 2/body */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */

    white-space: nowrap;
    color: #000000;

}

.loginTopRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 35px;

    position: absolute;
    width: 287px;
    height: 51px;
    right: 114px;
    top: 67px;
}

.loginTopRight span {
    height: 25px;

    /* Version 2/t6 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    white-space: nowrap;
}

img[src="assets/img/notVisibleIcon.svg"]:hover,
img[src="assets/img/visibleIcon.svg"]:hover {
  cursor: pointer;
}

.resetPassword{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 44px 85px;
    gap: 35px;
    isolation: isolate;
    
    position: absolute;
    height: 537px;
    left: 21.32%;
    right: 21.32%;
    top: calc(50% - 537px/2 - 0.5px);
    
    /* white */
    
    background: #FFFFFF;
    /* shadoe backlog box */
    
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
}

.leftArrow {
    position: absolute;
    width: 37px;
    height: 37px;
    left: 31px;
    top: 35px;
    cursor: pointer;
}

.resetHeadline {
    display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 24px;

width: 627px;
height: 97px;
}

.resetHeadline span {
    width: 627px;
height: 73px;
white-space: nowrap;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 61px;
line-height: 120%;
text-align: center;
}

.resetSubtitle{
    width: 589px;
height: 25px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 120%;

text-align: center;

}

.resetInputs{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 29px;

width: 422px;
height: 171px;
}

.forgotPassword{
    display: flex;
flex-direction: column;
align-items: center;
padding: 44px 85px;
gap: 35px;
isolation: isolate;
position: absolute;
width: 826px;
height: 462px;
left: calc(50% - 826px/2);
top: calc(50% - 462px/2 - 0.5px);
background: #FFFFFF;
box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
border-radius: 30px;
}

.forgotHeadline{
    display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 24px;

width: 626px;
height: 97px;
}

.forgotHeadline span{
    width: 626px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 61px;
line-height: 120%;
text-align: center;
}

.forgotSubtitle{
    width: 656px;
height: 50px;

/* Version 2/t6 */

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 120%;
/* or 25px */

text-align: center;
}

.signUpWrapper {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.logoTopLeft {
    position: absolute;
    width: 100.03px;
    height: 121.97px;
    top: 80px;
    left: 77px;
}

.signUpContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 0px;
    gap: 35px;
    background: #FFFFFF;
    width: 652px;
    height: 559px;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.leftArrow {
    position: absolute;
    width: 37px;
    height: 37px;
    left: 31px;
    top: 35px;
    cursor: pointer;
}

img[src="assets/img/notVisibleIcon.svg"]:hover,
img[src="assets/img/visibleIcon.svg"]:hover {
  cursor: pointer;
}

#unchecked,
#checked{
    cursor: pointer;
}
