.loginWrapper {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 334px;
    width: 274px;
    transform: translate(-50%, -50%);
    animation-name: logo-animation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    z-index: 3;
}

.logoInvert {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 334px;
    width: 274px;
    transform: translate(-50%, -50%);
    animation-name: logoInvert-animation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
    z-index: 3;
}

.loginContainer,
.signUpContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 3.41vh 0px;

    background: #FFFFFF;
    width: 45%;
    min-width: 505px;
    max-width: 600px;
    height: 60%;
    min-height: 513px;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}



@keyframes logo-animation {
    0% {
        width: 274px;
        height: 334px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    50% {
        width: 274px;
        height: 334px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    100% {

        width: auto;
        height: 18%;
        transform: translate(0, 0);
        top: 7%;
        left: 5%;
    }
}

@keyframes logoInvert-animation {
    0% {
        width: 274px;
        height: 334px;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    50% {
        width: 274px;
        height: 334px;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


    100% {
        width: auto;
        height: 18%;
        transform: translate(0, 0);
        top: 7%;
        left: 5%;
    }
}




.loginHeadline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    white-space: nowrap;
    height: 9.69vh;

}

.loginHeadline span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 5.96vh;
    line-height: 120%;
    text-align: center;
    color: #000000;
}

.loginHeadline img {
    width: 14.65vw;
}

.loginInputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    justify-content: space-around;
    gap: 8px;
    height: 78%;
}

.loginOptions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    justify-content: space-around;

    width: 100%;
    height: 19px;
    border: unset;
}

.loginButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 35px;

    width: 341px;
    height: 51px;
}

.blackBackgroundContainer {
    display: none;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 422px;


}

.inputFieldContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 2px;
    width: 100%;
    height: 8.1vh;
}



.inputFieldWithImg {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 1.269vh 1.4583vw;
    gap: 0.9765625vh;
    width: 100%;
    height: 5.98vh;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}


.loginInput {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 380px;
    height: 25px;
    border: unset;
    outline: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;

}

.rememberMe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 20px;

    height: 19px;

}

.rememberMe a {
    text-decoration: none;
    
}



.loginOptions span {
    width: 154px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: var(--secondaryColor);
    
    flex-wrap: nowrap;
}

.rememberMe span {

    height: 19px;

    /* Version 2/body */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */

    white-space: nowrap;
    color: #000000;

}

.remember-me-text {
    cursor: default;
}

.forgotPasswordText{
    cursor: pointer;
}

.loginTopRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 35px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    position: absolute;

    height: 51px;
    right: 10%;
    top: 50px;
}

.loginTopRight span {
    height: 25px;

    /* Version 2/t6 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    white-space: nowrap;
}


.notice {
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

}

.show {
    opacity: 1;
}

img[src="assets/img/notVisibleIcon.svg"]:hover,
img[src="assets/img/visibleIcon.svg"]:hover {
    cursor: pointer;
}

.resetPassword {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 44px 85px;
    gap: 35px;
    isolation: isolate;

    position: absolute;
    height: 537px;
    left: 21.32%;
    right: 21.32%;
    top: calc(50% - 537px/2 - 0.5px);

    /* white */

    background: #FFFFFF;
    /* shadoe backlog box */

    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
}



.resetHeadline {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;

    width: 627px;
    height: 97px;
}

.resetHeadline span {
    width: 627px;
    height: 73px;
    white-space: nowrap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    text-align: center;
}

.resetSubtitle {
    width: 589px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;

    text-align: center;

}

.resetInputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 29px;

    width: 422px;
    height: 171px;
}

.forgotPassword {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 44px 85px;
    gap: 35px;
    isolation: isolate;
    position: absolute;
    width: 826px;
    height: 462px;
    justify-content: space-around;
    padding: 3.41vh 0px;
    background: #FFFFFF;
    min-width: 505px;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 96%;
}

.forgotHeadline {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;

    width: 80%;
}

.forgotHeadline span {
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    text-align: center;
}

.forgotSubtitle {
  width: 80%;
    height: 50px;

    /* Version 2/t6 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    /* or 25px */

    text-align: center;
}

.signUpWrapper {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.logoTopLeft {
    position: absolute;
    width: 100.03px;
    height: 121.97px;
    top: 80px;
    left: 77px;
}



.leftArrow {
    position: absolute;
    width: 37px;
    height: 37px;
    left: 31px;
    top: 35px;
    cursor: pointer;
}

.leftArrowLegal {
    position: absolute;
    width: 37px;
    height: 37px;
    right: 6vw;
    top: 198px;
    cursor: pointer;
    z-index: 1;
}

#unchecked,
#checked,
#checkedTerms,
#uncheckedTerms {
    cursor: pointer;
}


@media screen and (max-width: 820px) {
    .signUpContainer {
        min-height: 502px;
        top: 59%
    }

    .loginContainer {
        min-height: 440px;
        top: 59%
    }

    .forgotPassword{
        min-height: 440px;
        top: 59%
    }

    .forgotHeadline {
    
        width: 70%;
    }
    .notice {
        bottom: 10px;
    }

    @keyframes logo-animation {
        0% {
            width: 274px;
            height: 334px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        50% {
            width: 274px;
            height: 334px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        100% {
            width: auto;
            height: 16%;
            transform: translate(0, 0);
            top: 4%;
            left: 5%;
        }
    }

}


@media screen and (max-width: 505px) {
    .blackBackgroundContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        position: fixed;
        background-color: var(--defaultDark);
        z-index: 2;
        animation-name: background-ease-out;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        opacity: 1;
    }

    @keyframes background-ease-out {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 1;
        }

        100% {
            opacity: 0;
            z-index: 0;
        }
    }

    @keyframes logo-animation {
        0% {
            width: 274px;
            height: 334px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        50% {
            width: 274px;
            height: 334px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        100% {
            width: auto;
            height: 10%;
            transform: translate(0, 0);
            top: 4%;
            left: 5%;
        }
    }

    @keyframes logoInvert-animation {
        0% {
            width: 274px;
            height: 334px;
            opacity: 1;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        50% {
            width: 274px;
            height: 334px;
            opacity: 1;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }


        100% {
            width: auto;
            height: 10%;
            transform: translate(0, 0);
            top: 4%;
            left: 5%;
            opacity: 0;
        }
    }

    .loginTopRight {
        top: auto;
        bottom: 76px;
        left: 50%;
        transform: translate(-50%);
        justify-content: space-between;
        z-index: 1;
        right: unset;
    }

    .loginInputs {
        max-width: 100%;
        gap: 14px;
        height: 48vh;
    }

    .loginInput,
    .forgotContainer {
        max-width: 91%;

    }

    .loginContainer {
        width: 96%;
        padding-top: 0px;
        padding-bottom: 0px;
        height: 62%;
        top: 49%;
        min-width: unset;
        justify-content: space-around;
    }


    .signUpContainer {
        width: 96%;
        padding-top: 0px;
        padding-bottom: 0px;
        height: 78%;
        top: 54%;
        min-width: unset;
        justify-content: space-around;
    }

    .forgotPassword{
        width: 96%;
        padding-top: 0px;
        padding-bottom: 0px;
        height: 78%;
        top: 54%;
        min-width: unset;
        justify-content: space-around;  
    }

    .inputContainer {
        max-width: 93%;
        height: auto;

    }

    .loginOptions {
        flex-direction: column-reverse;
        gap: 16px;
        height: 59px;
        padding-left: 2px;
    }

    .loginButtons {
        flex-direction: column;
        width: 180px;
        height: 123px;
        gap: 21px;
        align-items: center;
    }

    

    .inputFieldWithImg {
        padding: 12px 12px;
    }
}