* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.html,
.body {
    overflow-x: hidden;
}

.body {
    position: relative
}

.body {
    font-family: 'Inter';
}

.d-none {
    display: none !important;
}

:root {
    --mainBgColor: #F6F7F8;
    --defaultDark: #2A3647;
    --secondaryColor: #29ABE2;
    --activeDark: #091931;
    --lowPriority: #7AE229;
    --medPriority: #FFA800;
    --highPriority: #FF3D00;
    --avatar-color-1: #FF0000;
    --avatar-color-2: #FFA500;
    --avatar-color-3: #FFFF00;
    --avatar-color-4: #008000;
    --avatar-color-5: #0000FF;
    --avatar-color-6: #800080;
    --avatar-color-7: #FFC0CB;
    --avatar-color-8: #00FFFF;
    --avatar-color-9: #808080;
    --avatar-color-10: #FF69B4;
    --avatar-color-11: #00FF00;
    --avatar-color-12: #7FFFD4;
    --avatar-color-13: #9400D3;
    --avatar-color-14: #FFD700;
    --avatar-color-15: #FF1493;
    --avatar-color-16: #00CED1;
    --avatar-color-17: #FF6347;
    --avatar-color-18: #4B0082;
    --avatar-color-19: #808000;
}

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

indexWrapper {
    display: flex;
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.indexContent::-webkit-scrollbar,
.contactsLeft::-webkit-scrollbar {
    width: 10px;
}

.indexContent::-webkit-scrollbar-thumb,
.contactsLeft::-webkit-scrollbar-thumb {
    background-color: #2A3647;
    border-radius: 100px;
}

.indexContent::-webkit-scrollbar-track,
.contactsLeft::-webkit-scrollbar-track {
    background-color: #D1D1D1;
    border-radius: 100px;
    margin-block: 2px;
}
.indexContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
    width: calc(100% - 232px);
}

.indexContent {
    display: flex;
    height: 100%;
    overflow-y: auto;
}

.indexHeader {
    z-index: 1;
}

.leftArrow {
    position: absolute;
    width: 37px;
    height: 37px;
    left: 31px;
    top: 35px;
    cursor: pointer;
}

.loginSignUpButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 16px;
    gap: 10px;
    width: 91px;
    height: 51px;
    background: var(--defaultDark);
    border-radius: 8px;
    cursor: pointer;
}

.loginSignUpButton span {
    width: 59px;
    height: 19px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: white;
}

.loginLoginButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 0px;
    gap: 10px;
    width: 145px;
    height: 51px;
    background: var(--defaultDark);
    border-radius: 8px;
    white-space: nowrap;
    cursor: pointer;
}

.loginLoginButton span {
    height: 25px;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: white;
}

.loginGuestButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 16px;
    gap: 10px;
    width: 161px;
    height: 51px;
    border: 1px solid var(--defaultDark);
    border-radius: 8px;
    cursor: pointer;
}

.loginGuestButton span {
    width: 129px;
    height: 25px;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: var(--defaultDark);
    white-space: nowrap;
}

.signUpSignUpButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 0px;
    gap: 10px;
    width: 145px;
    height: 51px;
    background: var(--defaultDark);
    border-radius: 8px;
}

.signUpButton span {
    width: 78px;
    height: 25px;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: white;
}

.boardAddTaskButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    width: 137px;
    height: 51px;
    background: var(--defaultDark);
    border: 1px solid var(--defaultDark);
    border-radius: 10px;
    cursor: pointer;
}

.boardAddTaskButton span {
    width: 92px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: white;
    white-space: nowrap;
}

.addTaskCreateTaskButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    width: 177px;
    height: 61px;
    background: #2A3647;
    border-radius: 10px;
}

.addTaskCreateTaskButton span {
    width: 123px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: white;
}

.addTaskClearButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    width: 136px;
    height: 61px;
    border: 1px solid;
    border-radius: 10px;
}

.addTaskClearButton span {
    width: 53px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: var(--defaultDark);
}

.contactsNewContactButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    position: absolute;
    width: 193px;
    height: 53px;
    right: 100px;
    top: 700px;
    background: var(--defaultDark);
    border: 1px solid var(--defaultDark);
    border-radius: 10px;
    cursor: pointer;
    z-index:2
}

.contactsNewContactButton span {
    width: 130px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: #FFFFFF;
    white-space: nowrap;
}

.resetButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 0px;
    gap: 10px;
    width: 264px;
    height: 51px;
    cursor: pointer;
    background: #2A3647;
    border-radius: 8px;
}

.resetButton span {
    width: 95px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: #FFFFFF;
}

.forgotButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 0px;
    gap: 10px;
    width: 264px;
    height: 51px;
    background: #2A3647;
    border-radius: 8px;
    cursor: pointer;
}

.forgotButton span {
    width: 189px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: #FFFFFF;
}

.addContactOverlayCreateContactButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    width: 208px;
    height: 61px;
    background: var(--defaultDark);
    border-radius: 10px;
    cursor: pointer;
}

.addContactOverlayCreateContactButton span {
    width: 154px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: #FFFFFF;
}

.overlayCancelButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    width: 136px;
    height: 61px;
    border: 1px solid var(--defaultDark);
    border-radius: 10px;
    cursor: pointer;
}

.overlayCancelButton span {
    width: 69px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: var(--defaultDark);
}

.editContactOverlaySaveButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    width: 143px;
    height: 61px;
    background: var(--defaultDark);
    border-radius: 10px;
}

.editContactOverlaySaveButton span {
    width: 123px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
}

.activeTaskDelete {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -1px;
    width: 50px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #2A3647;
    border-radius: 10px 0px 0px 10px;
}

.activeTaskMove {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: 50px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #2A3647;
}

.activeTaskMove img {
    width: 31px;
    height: 31px;
}

.activeTaskEdit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -1px;
    width: 50px;
    height: 50px;
    background: #2A3647;
    border-radius: 0px 10px 10px 0px;
}

.activeTaskCloseButton {
    position: absolute;
    right: 35px;
    top: 35px;
    cursor: pointer;
}

.boardAddTaskButton:hover,
.contactsNewContactButton:hover,
.loginLoginButton:hover,
.loginSignUpButton:hover,
.resetButton:hover,
.forgotButton:hover,
.editContactOverlaySaveButton:hover,
.addContactOverlayCreateContactButton:hover,
.activeTaskEdit:hover,
.contactsMenuButton:hover {
    background-color: var(--secondaryColor);
    border: 1px solid var(--secondaryColor);
}

.loginGuestButton:hover,
.overlayCancelButton:hover,
.activeTaskMove:hover,
.activeTaskDelete:hover,
.addTaskCancelButton:hover {
    border: 2px solid #29ABE2;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.loginGuestButton:hover span,
.overlayCancelButton:hover span,
.addTaskCancelButton:hover span {
    color: var(--secondaryColor)
}

.loginErrorMessage,
.signUpErrorMessage,
.forgotErrorMessage,
.newPasswordErrorMessage,
.addContactErrorMessage,
.resetErrorMessage {
    white-space: nowrap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    color: #FF001F;
}

.loginBlackLayer,
.forgotBlackLayer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgb(0 0 0 / 50%);
    z-index: 1;
}

.loginSentConfirmation {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    gap: 13px;
    width: 424px;
    height: 74px;
    background: #2A3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    bottom: -10%;
    transition: bottom 800ms ease-out;
}

.loginSentConfirmation span {
    width: 330px;
    height: 28px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    color: #FFFFFF;
}

.taskAddedToBoardContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    left: 50%;
    width: 326px;
    height: 74px;
    background: #2A3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    position: absolute;
    z-index: 2;
}

.taskAddedToBoardContainer img {
    height: 40px;
}

.flyIn {
    bottom: 0;
    opacity: 0;
    color: white;
    transform: translate(-50%, 100%);
    animation: flyIn 0.5s ease-in-out forwards;
    position: absolute;
}

@keyframes flyIn {
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

.taskAddedToBoard {
    width: 235px;
    font-family: Inter;
    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
}

.darkBackgroundContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgb(0 0 0 / 50%);
    z-index: 1;
    cursor: pointer;
}

.forgotSentConfirmation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 326px;
    height: 74px;
    background: #2A3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    position: absolute;
    bottom: -10%;
    transition: bottom 800ms ease-out;
}

.forgotSentConfirmation span {
    height: 28px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    color: #FFFFFF;
}

.overlayContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.overlay {
    position: absolute;
    transition: left 0.5s ease-in-out;
    left: 500%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    max-width: 95vw;
    max-height: calc(100vh - 80px);
}

.overlayActive {
    left: 50%;
}

.activeTaskAssignedToContainer {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
    max-height: 180px;
    padding-top: 5px;
}

.activeTaskAssignedToContainer::-webkit-scrollbar-thumb {
    background-color: #2A3647;
    border-radius: 100px;
}

.activeTaskAssignedToContainer::-webkit-scrollbar-track {
    background-color: #D1D1D1;
    border-radius: 100px;
    margin-block: 2px;
}

.activeTaskAssignedToContainer::-webkit-scrollbar {
    width: 10px;
}

.activeTaskSubtasksContainer {
    display: flex;
    flex-direction: column;
max-height: 140px;
    overflow-y: auto;
    width: 59%;
}

.activeTaskSubtasksContainer div {
    display: flex;
    align-items: center;
}

.activeTaskSubtasksContainer::-webkit-scrollbar-thumb {
    background-color: #2A3647;
    border-radius: 100px;
}

.activeTaskSubtasksContainer::-webkit-scrollbar-track {
    background-color: #D1D1D1;
    border-radius: 100px;
    margin-block: 2px;
}

.activeTaskSubtasksContainer::-webkit-scrollbar {
    width: 10px;
}

.overlay::-webkit-scrollbar {
    margin-left: -10px;
    width: 10px;
}

.overlay::-webkit-scrollbar-thumb {
    background-color: #2A3647;
    border-radius: 100px;
}

.overlay::-webkit-scrollbar-track {
    background-color: #D1D1D1;
    border-radius: 100px;
    margin-block: 35px;
}

.activeTaskOverlay {
    position: absolute;
    top: 50%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
    gap: 25px;
    isolation: isolate;
    width: 623px;
    height: 824px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    background-color: white;
}

.activeTaskCategory {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 4px 36.5px;
    gap: 10px;
    width: 142px;
    height: 40px;
    background: #FC71FF;
    border-radius: 8px;
}

.activeTaskCategory span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 120%;
    color: #FFFFFF;
    height: 32px;
}

.activeTaskTitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 1px;
    width: 523px;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    color: #2A3647;
    max-width: 70vw;
}

.activeTaskDescription {
    width: 518px;
    height: 50px;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
    max-width: 70vw;
}

.activeTaskDueDate {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 25px;
    width: 246px;
    height: 25px;
}

.activeTaskDueDate span:first-child {
    width: 99px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
}

.activeTaskDueDate span:last-child {
    width: 122px;
    height: 25px;
    white-space: nowrap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
}

.activeTaskPriority {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 25px;
    width: 238px;
    height: 33px;
}

.activeTaskPriority span {
    width: 82px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
}

.activeTaskPriorityButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 18px;
    gap: 10px;
    width: 131px;
    height: 33px;
    background: #FF3D00;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.activeTaskPriorityButton span {
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #FFFFFF;
}

.activeTaskPriorityButton img {
    height: 12px;
    width: 17px;
}

.activeTaskAssignedToHeader {
    width: 134px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
}

.activeTaskAssignedTo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 25px;
    height: 35px;
}

.activeTaskAssignedTo span{
    text-wrap: nowrap;
    overflow: hidden;
}

.activeTaskAvartar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 8px;
    gap: 10px;
    width: 45px;
    height: 45px;
    background: #9327FF;
    border: 2px solid #FFFFFF;
    border-radius: 58px;
}

.activeTaskAssignedTo span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
}

.activeTaskAvartar span {
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
}

.activeTaskButtons {
    display: flex;
}

.content {
    padding: 89px 0 0 230px;
    width: 100vw;
    height: 100vh;
    height: 100svh;
}

.legalContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 83px 8.3vw 8.3vw 8.3vw;
    overflow-y: auto;
    position: relative;
    gap: 20px;
}

.logOutModal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 15px;
    position: absolute;
    top: 73px;
    right: 61px;
    min-width: 140px;
    padding: 16px 21px;
    z-index: 1;
    font-weight: lighter;
    color: white;
    background-color: var(--defaultDark);
    border-radius: 20px;
    border-top-right-radius: 0;
    cursor: pointer;
}

.logoutPrivacy {
    display: none;
}

.noticeButton {
    cursor: pointer;
    display: flex;
    padding: 8px;
    align-items: center;
    gap: 8px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    color: #A8A8A8;
    text-decoration: none;
    white-space: nowrap
}

.noticeButton:hover {
    color: var(--secondaryColor);
    scale: 1.1;
}

.helpSteps {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    margin-top: 10px;
    padding-bottom: 20px;
}

.helpStep {
    display: flex;
    align-items: flex-start;
    gap: 35px;
    align-self: stretch;
}

.helpStepNumber {
    color: var(--black, #000);
    font-family: Inter;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 32.4px */
}

.helpStepText {
    flex: 1 0 0;
}

.helpStepHeader {
    color: var(--black, #000);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 24px */
}

.helpJoin {
    color: var(--secondaryColor)
}

@media screen and (max-width: 505px) {

    .loginLoginButton,
    .loginGuestButton {
        width: 180px;
    }

    .header p {
        display: none;
    }

    .logoHeaderMobile {
        display: block;
    }
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 16vw;
    }

     
    .activeTaskTitle{
        font-size: 16vw;
    }
}

@media screen and (max-width: 610px) {
    .header p {
        display: none;
    }

    .activeTaskButtons{
        flex-direction: column;
        align-items: end;
    }

    .activeTaskDelete{
        border-radius: 10px 10px 0px 0px;
        margin: unset;
    }

    .activeTaskEdit{
        border-radius: 0px 0px 10px 10px;
    }
}

@media screen and (max-width: 700px) {
    .indexContent {
        align-items: normal;
    }

    .legalContainer{
        padding-top: 8.3vw;
    }
   
}
    
@media screen and (max-width: 1080px) {
    indexWrapper {
        flex-direction: column-reverse;
    }

    .indexContainer {
        width: 100%;
    }

    .indexContent {
        align-items: center;
        justify-content: center;
        height: calc(100% - 80px - 89px);
        overflow-y: auto;
    }

    .logoHeaderMobile {
        display: block;
    }

    .header {
        padding-left: 36px;
    }

    .logoutPrivacy {
        display: flex
    }
}

@media screen and (max-width: 1200px) {
    .welcomeDesk {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left:0;
        background-color: #f5f5f5;
        z-index: 2;
        animation-name: backgroundEaseOut;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        opacity: 1;
    }

    .welcomeDesk.animationDone {
        display: none;
    }

    @keyframes backgroundEaseOut {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 1;
        }

        100% {
            opacity: 0;
            display: none
        }
    }
}