* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mainBgColor: #F6F7F8;
    --defaultDark: #2A3647;
    --secondaryColor: #29ABE2;
    --activeDark: #091931;
    --lowPriority: #7AE229;
    --medPriority: #FFA800;
    --highPriority: #FF3D00;
    --backOffice: #1FD7C1;
    --design: #FF7A00;
    --sales: #FC71FF;
    --media: #FFC701;
    --marketing: #0038FF;


}

h1 {
    height: 73px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    /* or 73px */
    color: #000000;
}

.desktopTemplate {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 66px 20px;
    gap: 103px;
    position: absolute;
    width: 232px;
    height: 100%;
    left: 0px;
    top: 0px;
    background: #2A3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
}

.logoContainer {
    width: 100.03px;
    height: 121.97px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.logo {
    position: absolute;
    left: 28.44%;
    right: 28.44%;
    top: 6.45%;
    bottom: 81.64%;
}

.desktopTemplateMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
    width: 232px;
    height: 229px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.desktopTemplateMenuElements {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 53px;
    gap: 20px;
    width: 232px;
    height: 46px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.desktopTemplateIconContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 30px;
    height: 30px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.desktopTemplateIcon {
    width: 22px;
    height: 26px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.desktopTemplateFont {
    width: 53px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    white-space: nowrap;
    color: #CDCDCD;
}

.desktopTemplateIconActive {
    background-color: #091931;
}


.desktopTemplateLegalContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 142px 0px 0px;
    gap: 15px;
    width: 160px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.desktopTemplateLegal {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    gap: 20px;
    width: 160px;
    height: 46px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.desktopTemplateLegalIconContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 30px;
    height: 30px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 36px 20px 348px;
    gap: 34px;
    position: absolute;
    width: 100%;
    height: 89px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.headerHeadline {
    width: 335px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0
}

.headerUserProfil {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 26px;
    width: 106px;
    height: 49px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.headerUserProfilIcon {
    cursor: pointer;
}

.headerUserProfilIcon:hover {
    filter: invert(1);
}

.headerUserProfilImg {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1px;
    gap: 16px;
    width: 49px;
    height: 49px;
    border-radius: 100%;
    border: solid black 2px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.board {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #F6F7F8;
    padding: 0px 65px 0 65px
}

.boardHeadline {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 80px 0px 80px 0px;
    height: 73px;
    justify-content: space-between;
}

.findTask {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 21px;
    gap: 10px;

    width: 251px;
    height: 51px;

    background: #FFFFFF;
    /* icon */

    border: 1px solid #A8A8A8;
    border-radius: 10px;
}

.addPrimaryButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;

    width: 137px;
    height: 51px;

    background: var(--defaultDark);
    border: 1px solid var(--defaultDark);
    border-radius: 10px;
    flex: none;
    order: 1;
    flex-grow: 0;
    cursor: pointer;
}

.addPrimaryButton:hover {
    background-color: var(--secondaryColor);
    border-color: var(--secondaryColor);
}

.addPrimaryButton span {
    width: 92px;
    height: 25px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    /* or 25px */


    /* white */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.boardHeadlineRight {
    display: flex;
    gap: 35px;
}

.findTask input {
    border: unset;
    outline: none;
    background-color: unset;
    width: 100%;
    font-size: 16px;
}

.boardContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 26px;
    flex-wrap: wrap;
}

.boardElement {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 35px;

}



.boardElementHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 35px;
    width: 230px;
    height: 30px;
}

.boardElementHeader span {
    width: 57px;
    height: 25px;
    white-space: nowrap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: #2A3647;
}

.boardElementHeader svg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px;
    gap: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.boardElementHeader svg:hover {
    color: var(--secondaryColor)
}

.boardCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18px 19px;
    gap: 10px;
    width: 250px;
    height: 239px;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
}

.boardCardInner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: 209px;
    height: 203px;
}

.boardCardCategory {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4px 25px;
    gap: 10px;
    width: 103px;
    height: 27px;
    background: var(--design);
    border-radius: 8px;
}

.boardCardCategory span {
    width: 53px;
    height: 19px;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
}

.boardCardContent {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 10px;
    width: 207px;
    height: 67px;
}

.boardCardTaskName {
    width: 137px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
}

.boardCardTaskDescription {

    width: 207px;
    height: 38px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #A8A8A8;
}

.boardCardProgress {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 20px;
    width: 209px;
    height: 14px;
}

.boardCardProgress span {
    width: 51px;
    height: 14px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    color: #000000;
    white-space: nowrap;
}

.boardCardAssign {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 83px;
    width: 207px;
    height: 35px;
}

.boardCardAssignedTo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 93px;
    height: 35px;
}

.boardAvatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 8px;
    gap: 10px;
    width: 35px;
    height: 35px;
    background: #0190E0;
    border: 1px solid #FFFFFF;
    border-radius: 58px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px -4px;
}

.boardAvatar span {
    width: 19px;
    height: 14px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    /* or 14px */
    text-align: center;
    color: #FFFFFF;
}

contacts {
    display: flex;
}

.contactsLeft {
    width: 453px;
    height: 935px;
    overflow: scroll;
    background: #FFFFFF;
    box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactList {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    width: 357px;
    height: 1072px;

    /* white */

    background: #FFFFFF;
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.contactListSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 357px;
    height: 60px;
}

.contactListSection span {
    width: 282px;
    height: 40px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    /* or 25px */

    display: flex;
    align-items: center;

    color: #000000;
}

.contactListSeperator {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 14px 12px;
    gap: 10px;

    width: 347px;
    height: 28px;
}

.contactListElement {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px 25px;
    gap: 35px;

    width: 357px;
    height: 79px;

    background: #FFFFFF;
    border-radius: 10px;
}

.contantsAvatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 8px;
    gap: 10px;
    width: 35px;
    height: 35px;
    background: #0190E0;
    border: 1px solid #FFFFFF;
    border-radius: 58px;
}

.contantsAvatar span {
    width: 19px;
    height: 14px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    /* or 14px */
    text-align: center;
    color: #FFFFFF;
}

.contactsInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 5px;

    width: 140px;
    height: 49px;
}

.contactsInfo span:first-child {
    width: 127px;
    height: 25px;

    /* Version 2/t6 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    /* or 25px */

    display: flex;
    align-items: center;

    color: #000000;
}

.contactsInfo span:last-child {
    width: 140px;
    height: 19px;

    /* Version 2/body */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */

    display: flex;
    align-items: center;

    color: #007CEE;
}

.contactsRight {
    display: flex;
    flex-direction: column;
}

.contactsRightHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    width: 569px;
    height: 73px;
    padding: 80px 0 80px 65px;
    white-space: nowrap;
}

.contactsRightHeader span {
    width: 235px;
    height: 32px;

    /* Version 2/t5 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 120%;
    /* or 32px */


    color: #2A3647;
}

.contactsCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 65px;
    gap: 21px;
    width: 461px;
    height: 364px;
}

.contactCardHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 54px;
    width: 461px;
    height: 120px;
}

.contactCardAvatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 8px;
    gap: 10px;
    width: 120px;
    height: 120px;
    background: #0190E0;
    border: 1px solid #FFFFFF;
    border-radius: 100%;
}

.contactCardAvatar span {

    width: 80px;
    height: 28.57px;
    left: 20px;
    top: 45.71px;

    /* Version 2/t2 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 47px;
    line-height: 120%;
    /* or 56px */

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.contactCardHeaderContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 13px;

    width: 287px;
    height: 88px;

}

.contactCardHeaderContent span {
    width: 287px;
    height: 56px;

    /* Version 2/t2 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 47px;
    line-height: 120%;
    /* or 56px */

    display: flex;
    align-items: center;

    color: #000000;
}

.contactCardHeaderAddTask {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 13px;

    width: 128px;
    height: 19px;
}

.contactCardHeaderAddTask span {
    width: 100px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #29ABE2;
}