* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mainBgColor: #F6F7F8;
    --defaultDark: #2A3647;
    --secondaryColor: #29ABE2;
    --activeDark: #091931;
    --lowPriority: #7AE229;
    --medPriority: #FFA800;
    --highPriority: #FF3D00;
    --backOffice: #1FD7C1;
    --desing: #FF7A00;
    --sales: #FC71FF;
    --media: #FFC701;
    --marketing: #0038FF;


}

h1 {
    width: 176px;
    height: 73px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    /* or 73px */
    color: #000000;
}

.desktopTemplate {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 66px 20px;
    gap: 103px;
    position: absolute;
    width: 232px;
    height: 100%;
    left: 0px;
    top: 0px;
    background: #2A3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
}

.logoContainer {
    width: 100.03px;
    height: 121.97px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.logo {
    position: absolute;
    left: 28.44%;
    right: 28.44%;
    top: 6.45%;
    bottom: 81.64%;
}

.desktopTemplateMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
    width: 232px;
    height: 229px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.desktopTemplateMenuElements {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 53px;
    gap: 20px;
    width: 232px;
    height: 46px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.desktopTemplateIconContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 30px;
    height: 30px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.desktopTemplateIcon {
    width: 22px;
    height: 26px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.desktopTemplateFont {
    width: 53px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    white-space: nowrap;
    color: #CDCDCD;
}

.desktopTemplateIconActive {
    background-color: #091931;
}


.desktopTemplateLegalContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 142px 0px 0px;
    gap: 15px;
    width: 160px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.desktopTemplateLegal {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    gap: 20px;
    width: 160px;
    height: 46px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.desktopTemplateLegalIconContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 30px;
    height: 30px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 36px 20px 348px;
    gap: 34px;
    position: absolute;
    width: 100%;
    height: 89px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.headerHeadline {
    width: 335px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0
}

.headerUserProfil {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 26px;
    width: 106px;
    height: 49px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.headerUserProfilIcon {
    cursor: pointer;
}

.headerUserProfilIcon:hover {
    filter: invert(1);
}

.headerUserProfilImg {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1px;
    gap: 16px;
    width: 49px;
    height: 49px;
    border-radius: 100%;
    border: solid black 2px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.board {
    position: relative;
    width: 100%;
    height: 100%;
    background: #F6F7F8;
    padding: 80px 65px 0 65px
}

.boardHeadline {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    height: 73px;
    justify-content: space-between;
}

.findTask {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 21px;
    gap: 10px;

    width: 251px;
    height: 51px;

    background: #FFFFFF;
    /* icon */

    border: 1px solid #A8A8A8;
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.addPrimaryButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;

    width: 137px;
    height: 51px;

    background: #2A3647;
    border: 1px solid #2A3647;
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.addPrimaryButton span {
    width: 92px;
    height: 25px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    /* or 25px */


    /* white */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.boardHeadlineRight {
    display: flex;
    gap: 35px;
}

.findTask input {
    border: unset;
    outline: none;
    background-color: unset;
    width: 100%;
    font-size: 16px;
}

.boardContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 26px;

    position: absolute;
    height: 661px;
    left: 302px;
    top: 343px;
    background-color: yellow;
}

.boardElement {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 35px;
}

.boardElementHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 35px;
    width: 230px;
    height: 30px;
}

.boardElementHeader span {
    width: 57px;
    height: 25px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    /* or 25px */


    color: #2A3647;
}

.boardElementHeader img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px;
    gap: 10px;
    width: 30px;
    height: 30px;
}

.boardCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18px 19px;
    gap: 10px;

    width: 250px;
    height: 239px;

    /* white */

    background: #FFFFFF;
    /* shadoe backlog box */

    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
}

.boardCardInner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: 209px;
    height: 203px;
}