<div class="activeTaskOverlay">
    <div class="activeTaskCategory"><span>Test</span></div>
    <div class ="activeTaskTitle">Call potential clients</div>
    <div class="activeTaskDescription">Make the product presentation to prospective buyers</div>
    <div class="activeTaskDueDate">
        <span>Due date:</span><span>05-08-2022</span>
    </div>
    
    <div class="activeTaskPriority">
        <span>Priority:</span><div class="activeTaskPriorityButton"><span>Urgent</span><img src="" alt=""></div>
    </div>
    <div class="activeTaskAssignedToHeader">Assigned To:</div>
    <div class="activeTaskAssignedTo">
        <div class="activeTaskAvartar"><span>DE</span></div>
        <span>David Eisenberg</span>
    </div>
    <div class="activeTaskEdit">
        <div class="activeTaskDelete"></div>
        <div class="activeTaskMove"></div>
        <div class="activeTaskEdit"></div>
    </div>
    <div class="activeTaskCloseButton"></div>
</div>