
    
        <img class="closeOverlay" src="/assets/img/black-x.svg" alt="">
        <div class="addContactOverlayLeft">
            <span class="addContactOverlayTitle">Add contact</span>
            <span class="addContactOverlaySubtitle">Tasks are better with a team!</span>
            <img src="/assets/img/OverlaySeperator.svg" alt="">
            <img class ="addContactOverlayLogo" src="/assets/img/logo_invert.svg" alt="">
        </div>
        <img class="addContactIcon" src="/assets/img/newContactIcon.svg" alt="">
        <div class="addContactOverlayContent">
            <div class="inputContainer">
                <div class="inputFieldContainer">
                    <div class="inputFieldWithImg">
                        <input class="loginInput" type="text" id="addContactName" placeholder="Name"
                            aria-required="true" required>
                        <img src="assets/img/userIcon.svg" alt="">
                    </div>
                    <span id="registerNameError" class="errorMessage d-none">This field is required</span>
                </div>
            </div>
            <div class="inputContainer">
                <div class="inputFieldContainer">
                    <div class="inputFieldWithImg">
                        <input class="loginInput" type="email" id="registerEmail" placeholder="Email"
                            aria-required="true" required>
                        <img src="assets/img/loginMail.svg" alt="">
                    </div>
                    <span id="registerEmailError" class="errorMessage d-none">This field is required</span>
                    <span id="registerEmailFormatError" class="errorMessage d-none">Please insert an Email</span>
                    <span id="registerEmailTakenError" class="errorMessage d-none">This eMail is already in use</span>
                </div>
            </div>
            <div class="inputContainer">
                <div class="inputFieldContainer">
                    <div class="inputFieldWithImg">
                        <input id="registerPassword" class="loginInput" type="password" placeholder="Password"
                            aria-required="true" required>
                        <img id="registerPasswordImg" src="assets/img/loginPassword.svg" alt="">
                    </div>
                    <span id="registerPasswordError" class="errorMessage d-none">This field is required</span>
                    <span id="registerPasswordLengthError" class="errorMessage d-none">Password must contain at least 6 Characters</span>
                </div>
            </div>
        </div>
        <div class="addContactButtons">
            <div class="addContactOverlayCancelButton" onmouseover="onMouseOverImg('addContactCancelButtonImg', '/assets/img/buttonXsecondary.svg')"
            onmouseout="onMouseOutImg('addContactCancelButtonImg', '/assets/img/buttonX.svg')">
                <span>Cancel</span>
                <img id="addContactCancelButtonImg" src="/assets/img/buttonX.svg" alt="">
              </div>
              
            <div class="addContactOverlayCreateContactButton"><span>Create contact</span><img src="/assets/img/buttonOK.svg" alt=""></div>
        </div>
    
