<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <wrapper class="addContactOverlay">
        <img class="closeOverlay" src="/assets/img/black-x.svg" alt="">
        <img class="addContactIcon" src="/assets/img/newContactIcon.svg" alt="">
        <div class="addContactButtons">
            <div class="secondaryButton"><span>Cancel</span><img src="/assets/img/buttonX.svg" alt=""></div>
            <div class="primaryCheckButton"><span>Create contact</span><img src="/assets/img/buttonOK.svg" alt=""></div>
        </div>
    </wrapper>
</body>
</html>