<div class="desktopTemplate">

    <img class="logoTemplate" src="assets/img/logo_invert.svg" alt="">

    <div class="desktopTemplateMenu">
        <div onclick="showContent('summaryContent'); setActiveElement(this)" id="summary"
            class="desktopTemplateMenuElements desktopTemplateIconActive">
            <div class="desktopTemplateIconContainer">
                <img class="desktopTemplateIcon" src="assets/img/summaryIcon.svg" alt="">
            </div>
            <p class="desktopTemplateFont">Summary</p>
        </div>
        <div onclick="showContent('boardContent'); setActiveElement(this)" id="board-button" class="desktopTemplateMenuElements">
            <div class="desktopTemplateIconContainer">
                <img class="desktopTemplateIcon" src="assets/img/boardIcon.svg" alt="">
            </div>
            <p id="board" class="desktopTemplateFont">Board</p>
        </div>
        <div onclick="showContent('addTaskContent'); setActiveElement(this)" id="addTask"
            class="desktopTemplateMenuElements">
            <div class="desktopTemplateIconContainer">
                <img class="desktopTemplateIcon" src="assets/img/addTaskIcon.svg" alt="">
            </div>
            <p class="desktopTemplateFont">Add Task</p>
        </div>
        <div onclick="showContent('contactsContent'); setActiveElement(this)" id="contacts"
            class="desktopTemplateMenuElements">
            <div class="desktopTemplateIconContainer">
                <img class="desktopTemplateIcon" src="assets/img/contactsIcon.svg" alt="">
            </div>
            <p class="desktopTemplateFont">Contacts</p>
        </div>
    </div>
    <div class="desktopTemplateMenu">
        <div onclick="showContent('legalContent'); setActiveElement(this)" id="legalNotice"
            class="desktopTemplateMenuElements">
            <div class="desktopTemplateIconContainer">
                <img class="desktopTemplateIcon" src="assets/img/infoIcon.svg" alt="">
            </div>
            <p class="desktopTemplateFont">Legal Notice</p>
        </div>
    </div>
</div>