<div class="desktopTemplate">
    <img class="logoTemplate" onclick="document.getElementById('summary').click()" src="assets/img/logoInvert.svg"
        alt="">
    <div class="desktopTemplateMenu">
        <div onclick="showContent('summaryContent'); setActiveElement('summary')" id="summary"
            class="desktopTemplateMenuElements desktopTemplateIconActive">
            <div class="desktopTemplateIconContainer">
                <img class="desktopTemplateIcon" src="assets/img/summaryIcon.svg" alt="">
            </div>
            <p class="desktopTemplateFont">Summary</p>
        </div>
        <div onclick="showContent('boardContent'); setActiveElement('boardButton')" id="boardButton"
            class="desktopTemplateMenuElements">
            <div class="desktopTemplateIconContainer">
                <img class="desktopTemplateIcon" src="assets/img/boardIcon.svg" alt="">
            </div>
            <p id="board" class="desktopTemplateFont">Board</p>
        </div>
        <div onclick="showContent('addTaskContent'); setActiveElement('addTask')" id="addTask"
            class="desktopTemplateMenuElements">
            <div class="desktopTemplateIconContainer">
                <img class="desktopTemplateIcon" src="assets/img/addTaskIcon.svg" alt="">
            </div>
            <p class="desktopTemplateFont">Add Task</p>
        </div>
        <div onclick="showContent('contactsContent'); setActiveElement('contacts')" id="contacts"
            class="desktopTemplateMenuElements">
            <div class="desktopTemplateIconContainer">
                <img class="desktopTemplateIcon" src="assets/img/contactsIcon.svg" alt="">
            </div>
            <p class="desktopTemplateFont">Contacts</p>
        </div>
    </div>
    <div class="desktopTemplateMenu">
        <div onclick="showContent('privacyContent'); setActiveElement('privacyPolicy')" id="privacyPolicy"
            class="desktopTemplateMenuElements">
            <p class="desktopTemplateFont">Privacy Policy</p>
        </div>
        <div onclick="showContent('legalContent'); setActiveElement('legalNotice')" id="legalNotice"
            class="desktopTemplateMenuElements">
            <p class="desktopTemplateFont">Legal Notice</p>
        </div>
    </div>
</div>