<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' type='text/css' media='screen' href='/main.css'>
</head>

<body>
    <div class="desktopTemplate">
        <div class="logoContainer">
            <img class src="../img/logo_invert.svg" alt="">
        </div>
        <div class="desktopTemplateMenu">
            <div id="summary" class="desktopTemplateMenuElements desktopTemplateIconActive">
                <div class="desktopTemplateIconContainer">
                    <img class="desktopTemplateIcon" src="../img/summaryIcon.svg" alt="">
                </div>
                <p class="desktopTemplateFont">Summary</p>
            </div>
            <div id="board" class="desktopTemplateMenuElements">
                <div class="desktopTemplateIconContainer">
                    <img class="desktopTemplateIcon" src="../img/boardIcon.svg" alt="">
                </div>
                <p class="desktopTemplateFont">Board</p>
            </div>
            <div id="addTask" class="desktopTemplateMenuElements">
                <div class="desktopTemplateIconContainer">
                    <img class="desktopTemplateIcon" src="../img/addTaskIcon.svg" alt="">
                </div>
                <p class="desktopTemplateFont">Add Task</p>
            </div>
            <div id="contacts" class="desktopTemplateMenuElements">
                <div class="desktopTemplateIconContainer">
                    <img class="desktopTemplateIcon" src="../img/contactsIcon.svg" alt="">
                </div>
                <p class="desktopTemplateFont">Contacts</p>
            </div>
        </div>
        <div class="desktopTemplateLegalContainer">
            <div class="desktopTemplateLegal">
                <div class="desktopTemplateLegalIconContainer">
                    <img src="../img/infoIcon.svg" alt="">
                </div>
                <p class="desktopTemplateFont">Legal Notice</p>
            </div>
        </div>
    </div>
</body>

</html>