<div class="desktopTemplate">
    <img class="logoTemplate" style="cursor: default;" src="assets/img/logo_invert.svg" alt="">
    <div class="desktopTemplateMenu">
    </div>
    <div class="desktopTemplateMenu">
        <div onclick="showContent('privacyContent'); setActiveElement('privacyPolicy')" id="privacyPolicy"
            class="desktopTemplateMenuElements desktopTemplateIconActive">
            <p class="desktopTemplateFont">Privacy Policy</p>
        </div>
        <div onclick="showContent('legalContent'); setActiveElement('legalNotice')" id="legalNotice"
            class="desktopTemplateMenuElements">
            <p class="desktopTemplateFont">Legal Notice</p>
        </div>
    </div>
</div>