<div class="addTask">
    <div class="addTaskHeader">
      <h1>Edit Task</h1>
    </div>
    <form id="addTaskForm2" novalidate onsubmit="checkMandatoryFields(); return false">
      <div class="contentBodyContainer">
        <div class="containerLeft">
          <div class="titleContainer">
            <p>
              <label class="title">Title</label>
            </p>
            <input id="taskTitleInput2" class="titleInput noOutline" type="text" placeholder="Enter a title" maxlength="20"
              title="Geben Sie hier Ihren Text ein" autocomplete="off" required oninput="checkMandatoryFieldTitle()" />
            <p id="requiredTitle2" class="required hidden">
              This field is required
            </p>
          </div>
          <div class="titleContainer">
            <p>
              <label class="title">Description</label>
            </p>
            <textarea id="addTaskDescription2" class="descriptionField noOutline" type="text"  maxlength="100"
              placeholder="Enter a title" title="Geben Sie hier Ihren Text ein" required
              oninput="checkMandatoryFieldDescription()"></textarea>
            <p id="requiredDescription2" class="required hidden">
              This field is required
            </p>
          </div>
          <div class="titleContainer">
            <p>
              <label for="category2" class="title">Category</label>
            </p>
            <div id="selectContainer2" class="selectContainer">
            </div>
            <div id="newCategoryContainer2" class="newCategoryContainer d-none">
              <div class="inputAndColorButtonContainer">
                <input id="category2" class="newCategoryInput noOutline" type="text" name="category"
                  placeholder="New category name" maxlength="20" required />
                <div id="colorButtonContainer2"></div>
              </div>
              <div class="imgContainer">
                <img class="xOrHook" onclick="closeAddTaskNewCategory()" src="./assets/img/blackX.svg" alt="" />
                <div class="dashContainer">
                  <span class="dash"></span>
                </div>
                <img onclick="checkNewCategoryName()" class="xOrHook" src="./assets/img/blackCheck.svg" alt="" />
              </div>
            </div>
            <div id="colorContainer2" class="colorContainer d-none">
              <div id="colorButton2" class="purple color wheel" onclick="colorButton(0)"></div>
              <div class="red color wheel" onclick="colorButton(1)"></div>
              <div class="green color wheel" onclick="colorButton(2)"></div>
              <div class="yellow color wheel" onclick="colorButton(3)"></div>
              <div class="pink color wheel" onclick="colorButton(4)"></div>
              <div class="blue color wheel" onclick="colorButton(5)"></div>
            </div>
            <p id="requiredCategory2" class="required hidden">
              This field is required
            </p>
          </div>
          <div class="titleContainer">
            <p>
              <label class="title">Assigned to</label>
            </p>
            <div id="assignedToContainer2" class="newCategoryContainer d-none">
              <input id="inviteNewContact2" class="noOutline" type="email" placeholder="Contact email"
                aria-required="true" required />
              <div class="imgContainer cursorPointer">
                <img onclick="closeInviteNewContact()" src="./assets/img/blackX.svg" alt="" />
                <div class="dashContaier cursorPointer"><span class="dash"></span></div>
                <img src="./assets/img/blackCheck.svg" alt="" onclick="checkNewContactField()" />
              </div>
            </div>
            <div id="selectContactsContainer2" class="selectContainer">
            </div>
            <p id="requiredAssignedTo2" class="required hidden">
              Please enter a valid E-Mail
            </p>
          </div>
        </div>
        <div class="containerCenter"></div>
        <div class="containerRight">
          <div class="titleContainer">
            <p>
              <label class="title">Due date</label>
            </p>
            <div id="dateButton2">
              <input class="titleInput noOutline cursorPointer" type="date" id="dueDate2" required
                oninput="checkMandatoryFieldDueDate()" />
            </div>
            <p id="requiredDueDate2" class="required hidden">
              This field is required
            </p>
          </div>
          <div class="prioContainer">
            <p>
              <label class="title">Prio</label>
            </p>
            <div class="prioBodyContainer">
              <div id="prioRed2" class="prioButton" onclick="choosePrio('prioRed')">
                <div class="prioButtonName">Urgent</div>
                <img id="prioUrgentIcon2" class="prioIcon" src="./assets/img/prioUrgentIcon.svg" alt="" />
              </div>
              <div id="prioYellow2" class="prioButton" onclick="choosePrio('prioYellow')">
                <div class="prioButtonName">Medium</div>
                <img id="prioMediumIcon2" class="prioIcon" src="./assets/img/prioMediumIcon.svg" alt="" />
              </div>
              <div id="prioGreen2" class="prioButton" onclick="choosePrio('prioGreen')">
                <div class="prioButtonName">Low</div>
                <img id="prioLowIcon2" class="prioIcon" src="./assets/img/prioLowIcon.svg" alt="" />
              </div>
            </div>
            <p id="requiredPrio2" class="required hidden">
              This field is required
            </p>
          </div>
          <div>
            <p>
              <label class="title">Subtasks</label>
            </p>
            <div id="newSubtaskContainer2" class="newCategoryContainer d-none ">
              <input id="newSubtaskPoint2" class="newCategoryInput noOutline" type="text" maxlength="40"
                placeholder="New Subtasks" />
              <div class="imgContainer cursorPointer">
                <img onclick="closeSubtask()" src="./assets/img/blackX.svg" alt="" />
                <div class="dashContaier cursorPointer"><span class="dash"></span></div>
                <img onclick="addNewSubtask()" src="./assets/img/blackCheck.svg" alt="" />
              </div>
            </div>
            <div id="addNewSubtaskContainer2" class="newCategoryContainer cursorPointer" onclick="openSubtask()">
              <div class="addNewSubtask">Add new subtask</div>
              <img class="plusIcon" src="./assets/img/plusIcon.svg" alt="" />
            </div>
            <p id="required2" class="required hidden">
              This field is required
            </p>
          </div>
          <div id="addTaskSubtaskPoint2"></div>
          <div class="submitBtnsContainer">
            <div class="overlayCancelButton" onclick="setEditTaskOverlay(i)"
              onmouseover="hover('addTaskClearButton2', './assets/img/buttonXsecondary.svg');"
              onmouseout="hover('addTaskClearButton2', 'assets/img/buttonX.svg')">
              <span>Cancel</span>
              <img id="addTaskClearButton2" src="assets/img/buttonX.svg" alt="">
            </div>
            <button type="submit" class="createTaskBtn">
              <span>Save changes</span>
              <img src="./assets/img/creatTaskCheck.svg" alt="" />
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <img onclick="closeOverlay(); renderBoard()" class="activeTaskCloseButton" src="assets/img/blackX.svg" alt="">
