<div class="mobileTemplateLegal">
    <div class="mobileTemplateMenu">
        <div onclick="showContent('privacyContent'); setActiveElement('privacyPolicy')" id="privacyPolicyMobile" class="mobileTemplateMenuElements">
            <p class="mobileTemplateFont">Privacy Policy</p>
        </div>
        <div onclick="showContent('legalContent'); setActiveElement('legalNotice')" id="legalNoticeMobile" class="mobileTemplateMenuElements">
            <p class="mobileTemplateFont">Legal Notice</p>
        </div>
    </div>
</div>