<div class="mobileTemplateLegal">

    <div class="mobileTemplateMenu">
        <div onclick="showContent('privacyContent'); setActiveElement(this)" id="privacyPolicy" class="mobileTemplateMenuElements">

            <p class="mobileTemplateFont">Privacy Policy</p>
        </div>
        <div onclick="showContent('legalContent'); setActiveElement(this)" id="legalNotice" class="mobileTemplateMenuElements">

            <p class="mobileTemplateFont">Legal Notice</p>
        </div>
        
    </div>
   <!--- <div class="mobileTemplateMenu">
        <div onclick="showContent('privacyContent'); setActiveElement(this)" id="privacyPolicy"
            class="mobileTemplateMenuElements">

            <p class="mobileTemplateFont">Privacy Policy</p>
        </div>
        <div onclick="showContent('legalContent'); setActiveElement(this)" id="legalNotice"
            class="mobileTemplateMenuElements">

            <p class="mobileTemplateFont">Legal Notice</p>
        </div>
    </div>-->
</div>