<div class="mobileTemplate">

    <div class="mobileTemplateMenu">
        <div onclick="showContent('summaryContent'); setActiveElement(this)" id="summary"
            class="mobileTemplateMenuElements desktopTemplateIconActive">
            <div class="mobileTemplateIconContainer">
                <img class="mobileTemplateIcon" src="assets/img/summaryIcon.svg" alt="">
            </div>
            <p class="mobileTemplateFont">Summary</p>
        </div>
        <div onclick="showContent('boardContent'); setActiveElement(this)" id="board-button"
            class="mobileTemplateMenuElements">
            <div class="mobileTemplateIconContainer">
                <img class="mobileTemplateIcon" src="assets/img/boardIcon.svg" alt="">
            </div>
            <p id="board" class="mobileTemplateFont">Board</p>
        </div>
        <div onclick="showContent('addTaskContent'); setActiveElement(this)" id="addTask"
            class="mobileTemplateMenuElements">
            <div class="mobileTemplateIconContainer">
                <img class="mobileTemplateIcon" src="assets/img/addTaskIcon.svg" alt="">
            </div>
            <p class="mobileTemplateFont">Add Task</p>
        </div>
        <div onclick="showContent('contactsContent'); setActiveElement(this)" id="contacts"
            class="mobileTemplateMenuElements">
            <div class="mobileTemplateIconContainer">
                <img class="mobileTemplateIcon" src="assets/img/contactsIcon.svg" alt="">
            </div>
            <p class="mobileTemplateFont">Contacts</p>
        </div>
    </div>
   <!--- <div class="mobileTemplateMenu">
        <div onclick="showContent('privacyContent'); setActiveElement(this)" id="privacyPolicy"
            class="mobileTemplateMenuElements">

            <p class="mobileTemplateFont">Privacy Policy</p>
        </div>
        <div onclick="showContent('legalContent'); setActiveElement(this)" id="legalNotice"
            class="mobileTemplateMenuElements">

            <p class="mobileTemplateFont">Legal Notice</p>
        </div>
    </div>-->
</div>